body{
margin:0;
padding: 0;
background-image: url('sky.jpeg');
background-size: cover;
background-position: center;
font-family: sans-serif;
  height: 250px;
  width: 350px;
  top: 5%;
  left: 5%;

}
